[gerrit]
	basePath = git
	canonicalWebUrl = http://gerrit.bridgeli.cn/
[database]
	type = mysql
	hostname = localhost
	database = reviewdb
	username = root
[index]
	type = LUCENE
[auth]
	type = HTTP
[sendemail]
        smtpServer = smtp.qq.com
        smtpServerPort = 465
        smtpEncryption = ssl
        smtpUser = bridgeli.dev@gmail.com
        smtpPass = XXXXXX
        sslVerify = false
        from=CodeReview<bridgeli.dev@gmail.com>
[container]
	user = root
	javaHome = /data/apps/jdk/jre
[sshd]
	listenAddress = *:29418
[httpd]
	listenUrl = proxy-http://*:8081/
[cache]
	directory = cache
